
.form-data {
    display: block;
    &:after {
        content: attr(data-error);
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 0;
        color: #e54858;
        display: block;
        text-align: left;
        opacity: 0;
        transition: 0.3s;
        height: 0.75rem;
    }
    .error-msg {
        background-color: #222;
        color: $color-invalid;
    }
    &:invalid {
        border-color: $color-invalid;
    }
    &:valid {
        border-color: $color-valid;
    }
    &[data-error-visible="true"] {
        &:after {
            opacity: 1;
        }
        & .text-control {
            border: 2px solid #e54858;
        }
    }

}
